@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    font-family: 'Manrope', sans-serif;

    overflow-x: hidden;
}

.header-content{
   position: fixed;
    display: flex;
    align-items: center;
    padding: 15px 96px;
    min-width: 100vw;
    height: 100px;
    justify-content: space-around;
    background: #8B11B8;
}

nav li{
    list-style-type: none;
}

.chevrons{
   cursor: pointer;
}

.picture{
   background-image:   linear-gradient(to right, rgba(177, 43, 192, 0.5), rgba(107, 7, 173, 0.16)), 
   url('https://kpmg.com/kpmg-us/content/dam/kpmg/basic-hero/2022/grs-benefits-whitepaper.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -2;
   position: relative;
  }

.my-btn{
   font-size: 14px;
   cursor: pointer;
   color: #ffffff;
   background: #8B11B8;
   border: 0;
   padding: 13px 21px;
   width: 180px;
}

@media screen and (min-width: 1120px) {
    .hidden-nav{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      text-align: center;
      height: 400px;
      width: 100%;
      max-width: 900px;
      background: #FAFBFF;
    }
    .small-nav h3{
      font-size: 15px;
      padding: 20px 30px;
      background: #ca92e2;
    }

    .small {
      grid-column: span 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
  }
   .small-nav a{
      color: #ca92e2;
      text-decoration: none;
      bottom: 0;
   }
   .small-nav ul {
      font-size: 14px;
      padding: 20px;
   }
   .small-nav.fa-arrow-right{
      font-size: 15px;
      margin-left: 10px;
   }
   .small-nav{
    border: 1px solid black;
   }
   .double h3{
      background: #FAFBFF;
      padding: 20px;
      width: 250px;
      border: 1px solid black;
      text-align: center;
      font-size: 15px;
   }
     .hidden{
        display: none;
        position: absolute;
        transition: all 0.4s ease;
     }

     .mynav.active .hidden{
      display: block;
     }

     .comment-icon{
      background: #311547;
      position: fixed;
      height:60px;
      width: 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 20px;
      bottom: 20px;
     }
     .fa-comment{
      position: absolute;
      font-size: 30px;
      z-index: 100;
      color: #ffffff;
     }

     .header-content nav{
        display: flex;
        cursor: pointer;
     }
     .header-content  h2 {
        display: block;
        margin: 10px 0;
        padding: 15px;
        font-size: 18px;
        position: relative;
        outline: none;
     }

     .chevrons .fa-chevron-up{
        display: none;
     }

     .mynav.active .chevrons .fa-chevron-up{
        display: block;
     } 

     .mynav.active .chevrons .fa-chevron-down{
        display: none;
     }
    
     .header-content h2 a{
      color: #ffffff;
      text-decoration: none;
     }

     .chevrons{
        grid-template-rows: 10px;
        font-size: 18px;
        color: #ffffff;
        border: 0;
        top: 10px;
        right: 10px;
        width: 10px;
        height: 10px;
        margin-left: 5px;
        background: transparent;
     }
     .login button{
        border: 0;
        outline: 0;
        font-size: 15px;
        padding: 15px ;
        border-radius: 7px;
        background: #ECD9F4;
        cursor: pointer;
     }
     .picture{
      height: 90vh;
     }

     .picture-text{
      padding: 200px 120px 40px;
      width: 48%;
      color: #ffffff;
     }

     .marquee{
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
     }

     .marquee-content{
      font-size: 50px;
      display: inline-block;
      animation: marquee 10s linear infinite;
     }

     @keyframes marquee {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-content:hover {
  animation-play-state: paused;
}


     .picture-text p{
      font-size: 17px;
      line-height: 1.4;
      padding: 30px 0;
     }

     .section-two{
        margin: 0 auto;
        
     }
     .upskilling{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 60px 120px;
        width: 90%;
        margin: 0 auto;
     }

     .upskilling-text{
        margin-left: 80px;
        background: #FAFBFF;
        padding: 10px;
     }

     .upskilling-text h2{
        font-size: 40px;
        color: #311547;
     }

     .upskilling-text p{
        font-size: 14px;
        padding-bottom: 100px;
     }

     .learning{
        padding: 40px 96px;
        width: 90%;
        margin: 0 auto;
     }

     .learning h2{
        font-size: 35px;
        padding-bottom: 20px;
     }

     .column .icon-img img{
        margin-right: 20px;
     }
     .my-column{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }

     .column{
        display: flex;
        width: 85%;
        margin: 30px 0;
     }
     .column .icon-text{
        font-size: 13px;
        line-height: 1.3;
     }

     .building{
      padding: 40px 96px 20px;
      width: 90%;
      margin: 0 auto;
     }

     .building h3{
        font-size: 32px;
     }

     .building-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
     }
     .building-icon{
        margin: 20px 10px ;
        padding: 20px 0;
        width: 300px;
     }

     .building-icon h4{
        font-size: 22px;
     }

     .building-icon p{
        padding: 15px 0;
        font-size: 13px;
     }

     .building-icon a{
        font-size: 18px;
        text-decoration: none;
     }

     .building-icon .fa-arrow-right{
        margin-left: 7px;
     }
     .footer-container{
      padding: 20px 96px 0;
   }
  
     .mail h5 {
      font-size: 25px;
      padding: 0 25px;
     }
    
     #emailaddress{
      padding: 15px;
      font-size: 20px;
      width: 350px;
      outline: none;
     }

     .btnn{
      background: #8B11B8;
      color: #ffffff;
      border: 0;
      outline: none;
      width: 100px;
      font-size: 20px;
      padding: 15px 10px;
     }
     .footer-nav nav li:hover{
      text-decoration: underline;
     }

     .footer-nav{
        display: flex;
        padding: 50px 0;
        justify-content: space-between;
        cursor: pointer;
     }

     .footer-nav h5{
        font-size: 16px;
        padding: 12px 0;
     }
     .footer-nav li{
        padding: 5px 0;
     }

     .footer-icons{
      font-size: 30px;
      padding: 30px 0;
   
     }

     .footer-icons a{
      margin: 10px;
      color: #000;
     }

     .footer-second{
      display: flex;
      justify-content: space-around;
      padding: 20px 0;
     }
     .copyright li{
      list-style-type: none;
      margin: 10px;
     }
     .last-footer > .add, .num, .maill{
      margin: 10px;
     }
    
     .last{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0 5px;
     }
     .last p{
      padding: 0 15px;
     }

}

@media screen and (max-width: 1119px) {

   *{
      width: 100%;
      overflow-x: hidden;
   }
   .header-content nav, .login{
      display: none;
   }

.header-content .logo{
   width: 120px;
}
.header-content{
   display: flex;
   width: 100%;
   padding: 20px 50px;
   height: 100px;
   align-items: center;
   justify-content: space-around;
   background: #8B11B8;
   overflow: hidden;
}

   .comment{
      background: #311547;
      position: fixed;
      height:50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 10px;
      bottom: 10px;
     }
     .fa-comment{
      position: absolute;
      font-size: 30px;
      z-index: 100;
      color: #ffffff;
     }
   .picture{
      background-position: center;
      height: 70%;
   }
   .picture-text{
      width: 90%;
      margin: 0 auto;
      padding: 150px 0 50px;
      color: #ffffff;
      
     }

 .marquee-content{
      font-size: 35px;
      line-height: 1.3;
      height: 150px;
      text-align: center;
      padding: 0 50px;
     }
     .picture-text p{
      font-size: 15px;
      line-height: 1.4;
      padding: 20px 0;
      text-align: center;
     }

     .my-btn{
      display: block;
      margin: 0 auto;
     }

     .upskilling{
      display: flex;
      flex-direction: column-reverse;
     }
     .upskilling-text{
      padding: 20px 30px;
      font-size: 12px;
     }

     .upskilling-text h2{
      font-size: 25px;
     }
     .upskilling-text p{
      padding: 25px 0 100px;
      line-height: 1.8;
     }

  .upskilling-text .my-btn{
      display: inline;
     }

  .upskilling-img{
      padding: 0 30px;
     }

     .learning-{
      padding: 50px 30px 0;
     }
   .icon-img{
      width: 80px;
      margin-right: 10px;
     }
   .learning h2{
      padding-bottom: 20px;
     }
  .icon-text{
      font-size: 13px;
     }

  .column{
      display: flex;
      margin-bottom: 30px;
     }

   .building{
      padding: 10px 30px 20px;
   }

   .building-icon img{
      width: 120px;
   }

   .building h3{
      font-size: 22px;
   }

   .building h4{
      font-size: 20px;
   }
     
   .building p{
      font-size: 13px;
   }

   .building a{
      color: #4885ED;
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 13px;
      width: 50%;
   }
   .footer-container{
      padding: 20px 30px 5px;
   }

     .mail h5 {
      font-size: 20px;
      padding: 0 25px 10px;
     }
   
     #emailaddress{
      padding: 10px;
      font-size: 14px;
      border: #8B11B8 2px solid;
      width: 180px;
      outline: none;
      position: relative;
     }

     .btnn{
      background: #8B11B8;
      color: #ffffff;
      border: 0;
      outline: none;
      width: 40px;
      font-size: 15px;
      padding: 10px 5px;
      position: absolute;
     }

     .footer-nav{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      font-size: 13px;
     }

     .footer-nav nav{
      padding: 15px 5px 10px;
      line-height: 1.5;
     }

     .footer-icons{
      display: flex;
      font-size: 17px;
      margin: 10px;
     }

     .black-logo{
      width: 80px;
     }
     .footer-second{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      font-size: 9px;
      margin: 0 20px;
      padding: 20px 0;
     }
   
     .last{
      display: flex;
      flex-direction: column;
      font-size: 10px;
      align-items: center;
      justify-content: center;
      padding: 10px;
     }

     .fa-grip-lines-vertical{
      visibility: hidden;
     }

}
